* {
  padding: 0;
  margin: 0;
  background-color: #e3f3fe;
}


.container {
  min-height: 70vh;
  padding-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;

  font-family: "Inter", sans-serif;
}
.feature_details
{
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
}

.container>div:first-child {
  /* font-family: "DM Mono", monospace; */
  font-family: 'Inter';
  font-weight: bolder;
  font-style: normal;
  font-size: 4rem;
  color: #121632;
}

.container>div:nth-child(2) {
  font-size: 12px;
}

input[type="text"] {
  font-size: 18px;
  padding: 4px 8px;
  width: 600px;
  padding-left: 20px;
  
}

input{
  height:  60px;
  width: 150px;
  border-radius: 25px;
  background-color: white;
  border: 0px;
  box-shadow: 10px 5px 25px rgb(216, 216, 216);
}

button:hover {
  scale: 1.07;
}

.check-btn {
  font-size: 12px;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 6px;
  background: #404040;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: all .25s cubic-bezier(.4, 0, .2, 1);

  margin-bottom: 35px;
}

#button1,
#button2 {
  display: none;
  border: none;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 6px;
  text-align: center;
  transition: all .25s cubic-bezier(.4, 0, .2, 1);
  cursor: pointer;
  font-weight: 700;
  color: #fff;
}

#button1 {
  background-color: #0b9a52;
  width: 200px;
  height: 100px;
}

#button2 {
  background-color: #ff8686;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right:100px ;
  background-color: #333; /* Example background color */
  font-size: 1.5rem;
}

.logo{
  background-color: #333; /* Example background color */
  max-width: 110px; /* Adjust size as needed */
  color: white;
  font-family: 'Inter';
  font-weight: bold;
}

.nav-links {
  background-color: #333; /* Example background color */

  list-style: none;
  display: flex;
}

.nav-links li {
  background-color: #333; /* Example background color */

  margin-right: 20px; /* Adjust spacing between nav items */
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  background-color: #333; /* Example background color */

  text-decoration: none;
  color: #fff; /* Example text color */
  font-family: 'Inter';
  font-weight: light; /* Example font weight */
}

.nav-links li a:hover {
  color: #80d8f8; /* Example hover color */
}

