<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This website is develop for identify the safety of url."
    />
    <meta
      name="keywords"
      content="phishing url,phishing,cyber security,machine learning,classifier,python"
    />
    <link href="../static/styles.css" rel="stylesheet" />
    <title>Phishsnooper</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:wght@100..900&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo" style="background-color: #333">
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              background-color: #333;
            "
          >
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: center;
                font-family: 'Outfit';
                background-color: #333;
              "
            >
              <img
                style="background-color: #333"
                width="30"
                height="30"
                src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-link-web-flaticons-flat-flat-icons-3.png"
                alt="external-link-web-flaticons-flat-flat-icons-3"
              />
              PHISHSNOOPER
            </div>
          </div>
        </div>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="awareness">What's Phishing</a></li>
          <li><a href="privacy_tips">Safety tips</a></li>
        </ul>
      </nav>
    </header>
    <h1 style="font-weight: bold; font-family: 'Outfit';font-size: 75px;padding:30px ;">About Us</h1>
    <h2 style="font-family: 'Outfit';font-size: 40px;padding: 20px;">Phishsnooper</h2>
    <p style="font-family: 'DM Mono'; font-size: 25px;padding-left: 20px;padding-right: 100px;">
        Phishsnooper is an innovative web application designed to empower users with enhanced online security. Leveraging cutting-edge machine learning algorithms, Phishsnooper swiftly identifies potentially harmful URLs, safeguarding users from phishing attempts, malware, and fake websites. With its intuitive interface, users can easily analyze URLs for safety, gaining confidence while browsing the internet. Phishsnooper's commitment to staying ahead of emerging cyber threats ensures that users can navigate the digital landscape with peace of mind, knowing that their online safety is prioritized.
    </p>
    <h2 style="font-family: 'Outfit';font-size: 40px;padding: 20px;">How Does Phishsnooper Work?</h2>
    <p style="font-family: 'DM Mono'; font-size: 25px;padding-left: 20px;padding-bottom: 30px;">
      Phishsnooper uses machine learing models trained on a dataset on 11000+ URLs to predict whether a given URL is suspicious
      or not. Packed with several features :
    </p>
    <ul style="font-family: 'DM Mono'; font-size: 25px;padding-left: 30px;padding-right: 100px;padding-bottom: 200px;">
      <li>
        Estimate of URL safety
      </li>
      <li>
        Overview of sensitive features
      </li>
      <li>
        User awareness and experience oriented interface 
      </li>
    </ul>
  </body>
</html>