<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This website is develop for identify the safety of url."
    />
    <meta
      name="keywords"
      content="phishing url,phishing,cyber security,machine learning,classifier,python"
    />
    <link href="../static/styles.css" rel="stylesheet" />
    <title>Phishsnooper</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:wght@100..900&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo" style="background-color: #333">
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              background-color: #333;
            "
          >
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: center;
                font-family: 'Outfit';
                background-color: #333;
              "
            >
              <img
                style="background-color: #333"
                width="30"
                height="30"
                src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-link-web-flaticons-flat-flat-icons-3.png"
                alt="external-link-web-flaticons-flat-flat-icons-3"
              />
              PHISHSNOOPER
            </div>
          </div>
        </div>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="awareness">What's Phishing</a></li>
          <li><a href="privacy_tips">Safety tips</a></li>
        </ul>
      </nav>
    </header>
    <div class="content">
        <h1 style="font-weight: bold; font-family: 'Outfit';font-size: 75px;padding:30px ;">Tips on digital safety</h1>
    
        <h2 style="font-family: 'Outfit';font-size: 40px;padding: 20px;">Use Strong Passwords</h2>
        <p style="font-family: 'DM Mono'; font-size: 25px;padding-left: 20px;padding-bottom: 30px;padding-right: 100px;">Create complex passwords for your online accounts and avoid using the same password across multiple platforms. Consider using a password manager to securely store and manage your passwords.</p>
        
        <h2 style="font-family: 'Outfit';font-size: 40px;padding: 20px;">Enable Two-Factor Authentication (2FA)</h2>
        <p style="font-family: 'DM Mono'; font-size: 25px;padding-left: 20px;padding-bottom: 30px;padding-right: 100px;">Add an extra layer of security to your accounts by enabling 2FA. This typically involves receiving a one-time code on your phone or email to verify your identity during login attempts.</p>
        
        <h2 style="font-family: 'Outfit';font-size: 40px;padding: 20px;">Update Software Regularly</h2>
        <p style="font-family: 'DM Mono'; font-size: 25px;padding-left: 20px;padding-bottom: 30px;padding-right: 100px;">Keep your operating system, web browsers, and applications up to date with the latest security patches and updates to minimize vulnerabilities that attackers could exploit.</p>
        
        <h2 style="font-family: 'Outfit';font-size: 40px;padding: 20px;">Be Cautious with Personal Information</h2>
        <p style="font-family: 'DM Mono'; font-size: 25px;padding-left: 20px;padding-bottom: 30px;padding-right: 100px;">Avoid sharing sensitive information, such as your full name, address, or financial details, on public forums or social media platforms. Be wary of unsolicited requests for personal information, especially from unknown sources.</p>
        
        <h2 style="font-family: 'Outfit';font-size: 40px;padding: 20px;">Use Secure Connections</h2>
        <p style="font-family: 'DM Mono'; font-size: 25px;padding-left: 20px;padding-bottom: 30px;padding-right: 100px;">Whenever possible, use encrypted connections (HTTPS) when browsing the web, especially when submitting sensitive information like login credentials or payment details.</p>
        
        <h2 style="font-family: 'Outfit';font-size: 40px;padding: 20px;">Review Privacy Settings</h2>
        <p style="font-family: 'DM Mono'; font-size: 25px;padding-left: 20px;padding-bottom: 30px;padding-right: 100px;">Regularly review and adjust the privacy settings on your social media accounts, online services, and devices to control what information is shared with others.</p>
        
        <h2 style="font-family: 'Outfit';font-size: 40px;padding: 20px;">Be Skeptical of Unsolicited Communications</h2>
        <p style="font-family: 'DM Mono'; font-size: 25px;padding-left: 20px;padding-bottom: 30px;padding-right: 100px;">Exercise caution when responding to unsolicited emails, messages, or phone calls, especially if they request sensitive information or urge immediate action. Verify the sender's identity through official channels before taking any action.</p>
        
        <h2 style="font-family: 'Outfit';font-size: 40px;padding: 20px;">Educate Yourself and Stay Informed</h2>
        <p style="font-family: 'DM Mono'; font-size: 25px;padding-left: 20px;padding-bottom: 30px;padding-right: 100px;">Stay informed about the latest privacy threats, cybersecurity best practices, and common scams. Educate yourself and others in your household or workplace about how to recognize and respond to potential threats effectively.</p>
    </div>
  </body>
</html>



















